{% extends 'blog/base.html' %}

{% block title %}MyBlog{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        {{ object.name }}
    </h1>
    <p class="lead">

    </p>
</div>

<div class="row">
    <div class="col-6">
        <img src="/media/{{ object.image }}" class="card-img-top" alt="">
    </div>
    <div class="col-6">
        <div class="card m-3">
            <div class="card-body">
                <h1 class="fw-bold">
                    {{ object.title }}
                </h1>
                <p class="card-text">
                    {{ object.text }}
                </p>
                {% if object.is_published %}
                {% else %}
                <div class="input-group mb-3">
                    <a class="btn btn-outline-primary" href="{% url 'blog:post_update' object.pk %}">Опубликовать</a>
                </div>
                {% endif %}
                <p class="card-text"><small class="text-body-secondary">
                    Создано {{ object.created_at | date:"d.m.Y" }}
                </small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}