{% extends 'catalog/base.html' %}

{% block title %}Mystore{% endblock %}

{% block content %}

{% include 'catalog/header.html' %}

<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3">

        <div class="card mb-4 box-shadow">
            <img src="/media/{{ product.image }}" class="card-img" alt="">
            <div class="card-header" style="height: 100px">
                <h4 class="my-0 font-weight-normal">{{ product.name | truncatechars:50}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    {{ product.price }} руб.
                </h1>
                <p style="height: 70px">{{ product.description | truncatechars:100}}</p>
                <a href="{% url 'catalog:product_detail' product.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary m-1">Подробнее</a>
                <div class="btn-group m-1">
                    <a href="{% url 'catalog:product_update' product.pk %}"
                       class="btn btn-lg btn-block btn-outline-secondary">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}"
                       class="btn btn-lg btn-block btn-outline-secondary">Удалить</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}